

@font-face {
    font-family: 'koodak';
    src: url("../public/fonts/BKoodakBold.TTF") format('truetype'), url("../public/fonts/BKoodakBold.woff") format('woff');
}

@font-face {
    font-family: "mitra";
    src: url("../public/fonts/BMitra.TTF") format("truetype"), url("../public/fonts/BMitra.woff") format("woff");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

::placeholder {
    color: #dcdde1;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e0e8ff;
}

.app {
    display: flex;
    /* position: relative; */
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #fff;
    padding: 20px;  
    border-radius: 4px;
    box-shadow: 0 10px 8px rgb(199 208 247/ 0.2);
}

.show-finall-result {
    position: fixed;
    bottom: -100%;
    transform: translateY(-50%);
    background: #4edddb;
    color: #000e00;
    padding: 1em;
    width: 350px;
    max-width: 400px;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 7px 12px 0px rgba(0 0 0 / 0.2);
    gap: 15px;
    z-index: 9999999;
    border-radius: 5px;
}

.show-finall-result.active {
    bottom: 8px;
}

.show-finall-result h3 {
    font-family: 'mitra';
    font-weight: bold;
    font-size: 2.7em;
    color: black;
}

.btn-finall-result {
    padding: 0.3em;
    border: none;
    font-family: "koodak";
    background: #67b9f6;
    color: white;
    font-size: 1.7em;
    border-radius: 5px;
    box-shadow: 0 8px 5px rgb(110 167 205/ 0.2);
    cursor: pointer;
}


.app__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0.5em;
}

.app-div__input {
    outline: none;
    font-size: 1.7em;
    padding: 0.5em;
    direction: rtl;
    font-family: "Koodak";
    border: 2px solid rgb(0,0,0,0);
    transition: all 250ms ease-in-out;
    background-color: #f8f9fe;
    border-radius: 3px;
}

.app-div__input:focus {
    border-color: #00a8ff;
}

.app-div__buttons-wrapper {
    display: flex;
    /* justify-content: space-between; */
    gap: 0.3em;
}

.app-div__make-new-game-btn,
.app-div__add-player-btn {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 1.4em;
    font-family: "mitra";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 99999px;
    box-shadow: 0 3px 5px rgb(189 190 205 / 81%);
}

.app-div__make-new-game-btn {
    background-color: #19cb94;
}

.app-div__add-player-btn {
    background-color: #2a4cf6;
}

.added-successfully {
    background: #82ce34;
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    transform: translateY(-50%);
    bottom: -100%;
    box-shadow: 0 2px 7px rgb(0 0 0 / 15%);
    transition: all 190ms ease-in-out;
    z-index: 9999999;
    display: flex;
    align-items: center;
    gap: 10px;
}

.check-icon {
    color: green;
    font-size: 2em;
    background: white;
    border-radius: 99999px;
}

.added-successfully > p {
    font-family: 'koodak';
    color: white;
    font-size: 1.5em;
}

.added-successfully.active-added {
    bottom: 8px;
}

.app__show-result {
    width: 100%;
    height: 500px;
    background-color: #d8d8d8;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    gap: 20px;
    border-radius: 3px;
}

.card-wrapper {
    position: relative;
    overflow: hidden;
    background-color: black;
    height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 22px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.card-wrapper.clicked::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bdc3c7;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.card-wrapper.clicked::before {
    position: absolute;
    content: "!دیده شد";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Koodak";
    font-size: 1.5em;
    z-index: 9999;
    padding: 0.5em;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,95,1) 0%, rgba(4,167,177,1) 50%) border-box;
    border: 3px solid transparent;
}

.clicked {
    pointer-events: none;
}

.card-wrapper > h2 {
    color: white;
    font-family: "koodak";
    font-size: 2.5em;
}

.app__show-added-roll {
    position: relative;
    width: 100%;
    background: lightblue;
    padding: 1em;
    max-height: 400px;
    overflow-y: scroll;
}

.deleted-warning {
    background: #c7ecee;
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    transform: translateY(-50%);
    bottom: -100%;
    box-shadow: 0 2px 7px rgb(0 0 0 / 15%);
    transition: all 190ms ease-in-out;
    z-index: 9999999;
}

.deleted-warning > P {
    font-family: 'koodak';
    font-size: 1.4em;
}

.deleted-warning.deleted {
    bottom: 8px;
}

.app-show-added-roll__wrapper {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.wrapper__h2 {
    font-family: "mitra";
    font-size: 1.8em;
}

.plus-icon {
    padding: 10px;
    background: white;
    border-radius: 9999px;
}

.app-show-added-roll__main-rolls-wrapper {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "mitra";
    direction: rtl;
}

.game-roll-wrapper {
    background: white;
    padding: 8px 11px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-roll-wrapper:first-child{
    margin-top: 1em;
}

.game-roll-title {
    font-size: 1.7em;
}

.del-btn {
    border: none;
    font-size: 1.4em;
    color: #f75353;
    cursor: pointer;
    background: none;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 999999;
}






